#container {
    width: 700px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 20px;
    position: absolute;
    height: 600px;
}

body {
  font-family: sans-serif;
}

h1 {
    text-align: center;
}

.error {
  color: red;
}

#chessboard {
  width: 450px;
  height: 450px;
}