{% extends "base.html" %}

{% block header %}
{{ game_id }}
{% endblock %}

{% block content %}
<div id="welcome">
    <form id="authForm">
        Which color are you?

        <br>
        <input type="radio" name="color" value="white" id="white" checked><label for="white">White</label>
        <br>
        <input type="radio" name="color" value="black" id="black"><label for="black">Black</label>
        <br>
        <span id="login">
            <input type="password" autofocus name="pw" placeholder="Password">
            <button id="submit" type="button">Submit</button>
        </span>
        <input type="hidden" name="game_id" id="game_id" value="{{ game_id }}">
    </form>
    <p class="error"></p>
</div>
<div id="game">
    <div id="leftCol">
        <canvas id="chessBoard" width="900" height="900"></canvas>
    </div>
    <div id="rightCol">
        <p>You are playing <span class="player"></span> (it's <span class="turn"></span>'s turn).</p>
        <p class="error"></p>
    </div>
</div>
<script src="/static/game.js"></script>
<script src="/static/drawboard.js"></script>
{% endblock %}
