{% extends "base.html" %}

{% block header %}
{{ game_id }}
{% endblock %}

{% block content %}
<div id="login">
    <form id="authForm">
        Which color are you?
        <br>
        <input type="radio" name="color" value="white" checked>White
        <br>
        <input type="radio" name="color" value="black">Black
        <br>
        <input type="password" autofocus name="pw" placeholder="Password">
        <input type="hidden" name="game_id" id="game_id" value="{{ game_id }}">
        <button id="submit" type="button">Submit</button>
    </form>
</div>
<div id="game">
    <canvas id="canvas" width="600" height="600"></canvas>
</div>
<script src="/static/game.js"></script>
{% endblock %}
